################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj/Debug
/test.js~RF61a40e4b.TMP
/npm-debug.log
/node_modules

test2.js